/JavaBasico/AulasJava/target/
/JavaBasico/AulasJavaFX/OlaMundoJavaFX/nbproject/private/
/JavaBasico/AulasJavaFX/OlaMundoJavaFX/dist/
/JavaBasico/AulasJavaFX/OlaMundoJavaFX/build/
/JavaBasico/AulasJava/RelogioSwing/nbproject/private/
/JavaBasico/AulasJava/RelogioSwing/build/
/JavaBasico/AulasJava/TiposPrimitivos/nbproject/private/
/JavaBasico/AulasJava/TiposPrimitivos/build/
/JavaBasico/AulasJava/SomaSwing/nbproject/private/
/JavaBasico/AulasJava/SomaSwing/build/
/JavaBasico/AulasJava/calculadoraIdade/nbproject/private/
/JavaBasico/AulasJava/CalculadoraIdade/nbproject/private/
/JavaBasico/AulasJava/CalculadoraIdade/build/
/JavaBasico/AulasJava/OperadoresAritmeticos/nbproject/private/
/JavaBasico/AulasJava/OperadoresAritmeticos/build/
/JavaBasico/AulasJava/SuperCalculadora/nbproject/private/
/JavaBasico/AulasJava/SuperCalculadora/build/
/JavaBasico/AulasJava/VerificadorIdade/nbproject/private/
/JavaBasico/AulasJava/VerificadorDeIdade/nbproject/private/
/JavaBasico/AulasJava/VerificadorDeIdade/build/
/JavaBasico/AulasJava/LeitorDePensamento/nbproject/private/
/JavaBasico/AulasJava/LeitorDePensamento/build/
/JavaBasico/AulasJava/ParOuImpar/nbproject/private/
/JavaBasico/AulasJava/ParOuImpar/build/
/JavaBasico/AulasJava/ProgramaParImpar/nbproject/private/
/JavaBasico/AulasJava/ProgramaParImpar/build/
/JavaBasico/AulasJava/EquacaoSegundoGrau/nbproject/private/
/JavaBasico/AulasJava/EquacaoSegundoGrau/build/
/JavaBasico/AulasJava/ProjetoTriangulo/nbproject/private/
/JavaBasico/AulasJava/ProjetoTriangulo/build/
/JavaBasico/AulasJava/Fatorial/nbproject/private/
/JavaBasico/AulasJava/Fatorial/build/
/JavaBasico/AulasJava/Projetofatorial/nbproject/private/
/JavaBasico/AulasJava/Fatoriial/nbproject/private/
/JavaBasico/AulasJava/Fatoriial/build/
